header {
margin: auto;
text-align: center;
}
h1 {
    margin: auto;
    font-weight: bold;
    font-family: "Times New Roman";
    text-align: center;
}
body {
  background-color: rgb(30, 47, 47);
  color:white;
  padding: 0;
  margin: 0;
  min-width: 600px;
}

nav {
margin-top: 25px;
margin-bottom: 25px;
min-width: 600px;
}
a {
  color: black;
  font-weight: bolder;
  font-size: 20px;
  font-family: "Times New Roman";
  background-color: yellow;
  text-decoration: none;
  border: 5px outset black;
  border-radius: 12px;
  margin: 25px 20px 10px;
  width: 100%;
  display:inline;
}
a:hover {
  color: hotpink;
}
#images {

  padding:0px;
      margin:0px;
      position:fixed;
      right:-60px;
      top:230px;
      width:210px;
      z-index: 1100;

}
.socialMedia{
  width: 50px;
  height: 50px;
  background-color: white;
  float:right;
  margin-right:105px;

}



.collegeBuilding {
  height:500px;
  display: block;
  margin-left: 40px;
  margin-right: auto;
  width: 90%;
  position: relative;

}
p {
  font-size: 20px;
  font-family:"Times New Roman";
  margin-left: 10px;
}
.studentBodylink {
  margin: 0px 0px 0px 60%;
}
.scrollup {
  height: 20px;
  width:20px;
  margin: 0px 0px 0px 90%;
}
